# Project exclude paths
/.vscode
/lesson/node_modules/
/lesson2-4/node_modules/
/lesson3-1a/node_modules/
/lesson3-1b/node_modules/
/lesson3-3/node_modules/
/lesson3-4/node_modules/
/lesson3-4/node_modules/
/lesson3-12/node_modules/
