# Project exclude paths
/.vscode/
/.history/
/node_modules/
/lesson/node_modules/
/lesson2-4/node_modules/
/lesson3-1a/node_modules/
/lesson3-1b/node_modules/
/lesson3-3/node_modules/
/lesson3-4/node_modules/
/lesson3-7/node_modules/
/lesson3-12/node_modules/
/lesson5-2/node_modules/
/lesson5-3/node_modules/
/lesson5-4/node_modules/
/lesson5-5/node_modules/
/lesson5-6/node_modules/
/lesson5-8/node_modules/
/lesson5-9/node_modules/
/lesson5-10/node_modules/
/lesson5-11/node_modules/
/lesson5-13/node_modules/
/lesson6-1/node_modules/
/lesson6-2/node_modules/
/lesson6-3/node_modules/
/.history/
.idea/workspace.xml
/lesson6-4/node_modules